<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PassangerLayout.css" rel="stylesheet" />

</head>
<body>
    <!------Heading-------->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <img src="~/SiteIcon/buslogo.png" />
                </div>

                <nav class="navbar" role="navigation">
                    @Html.Partial("_LoginPartial")
                    <a class="navbar-right btn btn-success" href="@Url.Action("AdminLogin", "Account")">AdminPanel</a>
                    <a class="navbar-right btn btn-success" href="@Url.Action("TravalRoute","Home")">Home</a>
                </nav>
                <hr />
            </div>
        </div>
    </div>

    <!-----------body----------->
    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                <div class="well">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                      @ViewBag.Title 
                        </div>
                    </div>
                    @RenderBody()
                </div>
                
            </div>
            <div>
                <div class="col-md-3 well">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Travel routes
                        </div>
                    </div>
                    <ul class="list">
                        <li>Dhaka to Joypurhat</li>
                        <li>Dhaka to Noakhali</li>
                        <li>Dhaka to Rajshahi</li>
                        <li>Dhaka to Maymensing</li>
                    </ul>
                </div>
                <div class="col-md-3 well">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Payment
                        </div>
                    </div>
                        <ul class="list">
                            <li>Bkash</li>
                            <li>DBBL</li>
                            <li>VISA</li>
                            <li>Master Card</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
