@model IEnumerable<AspDotNetMvcBusTicketReservation.Models.BookingListByDate>

@{
    ViewBag.Title = "Booking Staus by Date";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        <label></label>
        <div class="col-md-4">
            <input type="text" id="date" value="" class="form-control" />
        </div>
        <input type="submit" value="View" class="btn btn-success" />
    </div>
</div>
}
<script type="text/javascript">
    $(function () {
        $("#date").datepicker();
    });
</script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seatList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RouteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seatList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
    </tr>
}

</table>
